html
  head
    title="Whoami Microservice"
    link(rel='stylesheet', href='/public/style.css')
  body
    main
      h3="Whoami Microservice"
        table
          tr
            th IP Address:
            td=ipaddress
          tr
            th Language:
            td=language
          tr
            th Software:
            td=software
    footer 
      | This microservice returns IP address, language, and software information from the request headers of the client.